* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07275f;
}

.logo {
  font-size: 2.5em;
}

.title {
  font-size: 2.5em;
}

.header > * {
  font-family: "Sedgwick Ave Display", cursive;
  color: white;
  padding: 5px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
}

.container .block {
  margin: 0.5em;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.flip {
  animation: flip 0.5s linear;
  transform-style: preserve-3d;
}
