* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07275f;
}

.logo {
  font-size: 2.5em;
}

.title {
  font-size: 2.5em;
}

.header > * {
  font-family: "Sedgwick Ave Display", cursive;
  color: white;
  padding: 5px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
}

.container .block {
  margin: 0.5em;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
    background-color: black;
  }
  50% {
    background-color: black;
  }
  100% {
    transform: rotateY(180deg);
    background-color: transparent;
  }
}

.flip {
  animation: flip 0.5s linear;
  transform-style: preserve-3d;
}

.confetti {
  position: fixed;
  top: 0;
  font-size: 1.6rem;
  animation: confetti-fall linear 5s infinite;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100%) rotate(0);
  }
  100% {
    transform: translateY(100vh) rotate(180deg);
  }
}

#gameoverMessage {
  text-align: center;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 4em;
}
